/* navbarre */

.logo {
     width: 60%;
     height: auto;
}

.navbar {
     background-color: #FFF !important;
     height: 9%;
}

.navbouton {
     color: #fd16ae!important;
     font-size: 0, 6em !important;
}


/* Titres */

.titresite
 {color: #fd16ae !important;
  font-family: BodoniXT;
  font-size: 4em !important;
  background-color: #FFF !important;

}

h1 {
     color: #ffee62 !important;
}

.subheading {
     background-color: #FFF !important;
     color: #282b50 !important;
}

h3 {
     padding-bottom: 20%;
     text-align: center;
     font-size: 4em !important;
}

/* Textes*/
p {
  font-family: "Just Me Again Down Here", cursive !important;
  font-size:3.2em !important;
}




/* images */

.valerie {
     width: 50%;
     height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 10%;
}
#winner {
  width: 65%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  padding-top: 10%;
}

/* Tableaux */

code {
     background-color: #de2580 !important;
     color: white !important;
     font-size: 0.2em !important;
}

dfn {
     font-size: 0.7em !important;
}

caption {
     color: #ff68b3!important;
     font-size: 2.5em;
     text-align: center !important;
}

td {
     border-style: dotted;
     border-color: #ffee62;
}


/* boutons */

.boutons {
     width: 50%;
     height: auto;
}
