.navbar-inverse {
  background-color: #ff5abb;
  border-color: #ff5abb;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-family: "Bodoni Xt", Times, sans-serif;
  Font-size: 18px;
}
body {
  font-family: "HelveticaXT", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
